body {
  margin-top: 0px;
  font-family: garamond;
}

.wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 70px;
  width: 80%
}

.header-inner {
  background-color: white;
  position: fixed;
  margin-top: 0px;
  width: 80%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation li {
  display: inline-block;
  padding-right: 30px;
}

.navigation span {
  float: right;
  font-size: 15px;
}

.navigation a {
  text-decoration: none;
}

a {
  font-weight: normal;
  color: black;
}

.main {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: auto;
}

p {
  padding-top: 350px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
}
