body {
  margin-top: 0px;
  font-family: garamond;
}

.wrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  height: 70px;
}

.header-inner {
  background-color: white;
  position: fixed;
  margin-top: 0px;
  width: 1200px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation li {
  display: inline-block;
  padding-right: 20px;
}

.navigation span {
  float:right;
  font-size: 14px;
}

.navigation a {
  text-decoration: none;
}

a {
  color: black;
}

.main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.image {
  width: 1200px;
}
